<ion-view title="">
<link href="css/dailynews.css" rel="stylesheet" type="text/css" />
<ion-nav-buttons side="right">
	<button ng-click="share()" class="button-icon bar-button ion-android-share-alt"></button>
	<!--button ui-sref="app.comment({id:posts})" class="button-icon bar-button icon-chat"></button-->
	<button ng-click="openPopover($event)" class="back-button-news bar-button icon-menu"></button>
</ion-nav-buttons>
<ion-content ng-show="data.time" class="news-content" on-drag="onDrag($event)">
	<img ng-if="data.desactivar_foto_destacada!==1 && data.format == 'standard' && data.mobiconnector_feature_image.source_url" ng-src="{{data.mobiconnector_feature_image.source_url}}" class="img">
	<div class="row" style="margin-bottom:30px;">
		<div class="col">
			<b class="title-briefs line-height" ng-bind-html="data.title.rendered"></b>
			<p class="info-news" style="margin-top:5px;"><a ng-click="openCategory(data.categories[0].cat_ID)" class="info"><b>{{data.categories[0].cat_name}}</b></a>, {{data.time | timeAgo}}</p>
            <iframe class="video_body" width="100%" height="350px" ng-src="{{trustSrc(data.y_url)}}" frameborder="0" allowfullscreen="" ng-if="data.y_url" ></iframe> 
            <detail class="briefs line-height-add" ng-class="settings.text" content="data.content.rendered"></detail>
		</div>
	</div>
    <div align="center" style="margin-top: 10px;margin-bottom:10px;">
        <div id='div-gpt-ad-1498863396334-0-nota'></div>
    </div>
	<div ng-hide="incategory.length <1" class="row no-padding">
		<div class="col padding" style="padding-bottom:0px">
			<b class="next-story-title">{{'nextStory' | translate}}</b>
		</div>
	</div>
	<div class="row no-padding" style="flex-wrap:wrap;">
		<div class="col col-50 padding" ng-repeat="item in incategory">
			<div ng-if="item.format != 'image'" ui-sref="app.news({id:item.id})">
				<div class="next-story">
					<img ng-src="{{item.mobiconnector_feature_image.mobiconnector_medium || 'img/no_images.png'}}" />
				</div>
				<a class="title-news"><b ng-bind-html="item.title.rendered"></b></a>
			</div>
			<div ng-if="item.format == 'image'" ui-sref="app.newsPhoto({id:item.id})">
				<div class="next-story">
					<img ng-src="{{item.mobiconnector_feature_image.mobiconnector_medium || 'img/no_images.png'}}" />
				</div>
				<a class="title-news"><b ng-bind-html="item.title.rendered"></b></a>
			</div>
		</div>
	</div>
	<ion-infinite-scroll ng-if="!over && loadDetail" on-infinite="load()" distance="1%"></ion-infinite-scroll>
</ion-content>
</ion-view>